/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    outline: 0 !important;
}

body {
    background: #47a3da;
}

label {
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
}

input[type="text"],
textarea#description {
    border: 3px solid #fff;
    border-radius: 0;
    box-shadow: none;
    background-color: #47a3da;
    color: #fff;
    min-height: 44px;
}

input[type="text"]:focus,
textarea#description:focus {
    border-color: #10689a;
    box-shadow: none;
}

textarea#description {
    min-height: 128px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;
}

.input-group-addon {
    display: none;
}

input[type=file] {
    display: block;
    color: #fff;
}

ul.validation-msgs {
    list-style: none;
    border-left: 5px solid #c0392b;
    padding-left: 20px;
    color:#e8e8e8;
}

.btn-primary {
    border: 0;
    box-shadow: none;
    border-radius: 0;
    text-shadow: none;
    background: #10689a;
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline;
}

span{
	color:#fff;
}

footer {
    color: #fff;
}

.success-msg {
	display: none;
    border-left: 4px solid green;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}

#superform {
    min-height: 500px;
}
